<!-- notifications.html -->
{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <header>
        <!-- <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                <li><a href="{% url 'notifications' %}">Notifications</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <h2>Notifications</h2>
        <ul class="list-group">
            {% for notification in notifications %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {% if not notification.read %}
                  <strong>{{ notification.message }} - {{ notification.created_at }}</strong>
                {% else %}
                  {{ notification.message }} - {{ notification.created_at }}
                {% endif %}
                <form action="{% url 'mark_notification_as_read' notification.id %}" method="POST" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary btn-sm">Mark as read</button>
                </form>
              </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
