<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Recipes</title>
   
</head>
<body>
    <h1>Popular Recipes</h1>
    <table>
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Save Count</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.save_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
