<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Activity</title>
    
<body>
    <h1>User Activity</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Collection Count</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.collection_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
